In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r'C:\Users\RITODEEP\Downloads\dataset\train_.csv',encoding='latin-1')

In [31]:
import io

In [32]:
df=pd.read_csv(io.BytesIO(uploaded['train_.csv']))

In [3]:
df

,Unnamed: 0,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,0,1.000009e+18,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,2,15706,320,50,1722,0,35,-1,79
1,1,1.000017e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15704,320,50,1722,0,35,100084,79
2,2,1.000037e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15704,320,50,1722,0,35,100084,79
3,3,1.000064e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15706,320,50,1722,0,35,100084,79
4,4,1.000068e+19,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,...,1,0,18993,320,50,2161,0,35,-1,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,499995,1.311196e+19,0,14102103,1005,0,85f751fd,c4e18dd6,50e219e0,53de0284,...,1,0,21611,320,50,2480,3,299,100111,61
499996,499996,1.311197e+19,0,14102103,1005,1,d9750ee7,98572c79,f028772b,ecad2386,...,1,0,17614,320,50,1993,2,1063,-1,33
499997,499997,1.311202e+19,0,14102103,1005,0,85f751fd,c4e18dd6,50e219e0,e2fcccd2,...,1,0,20633,320,50,2374,3,39,-1,23
499998,499998,1.311205e+19,0,14102103,1005,1,5b4d2eda,16a36ef3,f028772b,ecad2386,...,1,0,20355,216,36,2333,0,39,100077,157
499999,499999,1.311207e+18,1,14102103,1005,0,2328ee8e,7804dea6,f028772b,ecad2386,...,1,0,6563,320,50,572,2,39,-1,32

In [34]:
print(df.isnull().sum())
df.isnull().sum().sum()

Unnamed: 0          0
id                  0
click               0
hour                0
C1                  0
banner_pos          0
site_id             0
site_domain         0
site_category       0
app_id              0
app_domain          0
app_category        0
device_id           0
device_ip           0
device_model        0
device_type         0
device_conn_type    0
C14                 0
C15                 0
C16                 0
C17                 0
C18                 0
C19                 0
C20                 0
C21                 0
dtype: int64

0

In [4]:
df["tstamp"] = pd.to_datetime(df["hour"], format="%y%m%d%H")
df["year"] = df["tstamp"].dt.year
df["month"] = df["tstamp"].dt.month
df["day"] = df["tstamp"].dt.day
df["hours"] = df["tstamp"].dt.hour
df

,Unnamed: 0,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,...,C17,C18,C19,C20,C21,tstamp,year,month,day,hours
0,0,1.000009e+18,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1722,0,35,-1,79,2014-10-21 00:00:00,2014,10,21,0
1,1,1.000017e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1722,0,35,100084,79,2014-10-21 00:00:00,2014,10,21,0
2,2,1.000037e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1722,0,35,100084,79,2014-10-21 00:00:00,2014,10,21,0
3,3,1.000064e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1722,0,35,100084,79,2014-10-21 00:00:00,2014,10,21,0
4,4,1.000068e+19,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,...,2161,0,35,-1,157,2014-10-21 00:00:00,2014,10,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,499995,1.311196e+19,0,14102103,1005,0,85f751fd,c4e18dd6,50e219e0,53de0284,...,2480,3,299,100111,61,2014-10-21 03:00:00,2014,10,21,3
499996,499996,1.311197e+19,0,14102103,1005,1,d9750ee7,98572c79,f028772b,ecad2386,...,1993,2,1063,-1,33,2014-10-21 03:00:00,2014,10,21,3
499997,499997,1.311202e+19,0,14102103,1005,0,85f751fd,c4e18dd6,50e219e0,e2fcccd2,...,2374,3,39,-1,23,2014-10-21 03:00:00,2014,10,21,3
499998,499998,1.311205e+19,0,14102103,1005,1,5b4d2eda,16a36ef3,f028772b,ecad2386,...,2333,0,39,100077,157,2014-10-21 03:00:00,2014,10,21,3
499999,499999,1.311207e+18,1,14102103,1005,0,2328ee8e,7804dea6,f028772b,ecad2386,...,572,2,39,-1,32,2014-10-21 03:00:00,2014,10,21,3

In [5]:
a=df.pop('click')
df['click']=a

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        500000 non-null  int64
 1   id                500000 non-null  float64
 2   hour              500000 non-null  int64
 3   C1                500000 non-null  int64
 4   banner_pos        500000 non-null  int64
 5   site_id           500000 non-null  object
 6   site_domain       500000 non-null  object
 7   site_category     500000 non-null  object
 8   app_id            500000 non-null  object
 9   app_domain        500000 non-null  object
 10  app_category      500000 non-null  object
 11  device_id         500000 non-null  object
 12  device_ip         500000 non-null  object
 13  device_model      500000 non-null  object
 14  device_type       500000 non-null  int64
 15  device_conn_type  500000 non-null  int64
 16  C14               500000 non-null  int64
 17  C15               500000 non-null  int64
 18  C16               500000 non-null  int64
 19  C17               500000 non-null  int64
 20  C18               500000 non-null  int64
 21  C19               500000 non-null  int64
 22  C20               500000 non-null  int64
 23  C21               500000 non-null  int64
 24  tstamp            500000 non-null  datetime64[ns]
 25  year              500000 non-null  int64
 26  month             500000 non-null  int64
 27  day               500000 non-null  int64
 28  hours             500000 non-null  int64
 29  click             500000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(19), object(9)
memory usage: 114.4+ MB

In [7]:
df

,Unnamed: 0,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,C18,C19,C20,C21,tstamp,year,month,day,hours,click
0,0,1.000009e+18,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,0,35,-1,79,2014-10-21 00:00:00,2014,10,21,0,0
1,1,1.000017e+19,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,0,35,100084,79,2014-10-21 00:00:00,2014,10,21,0,0
2,2,1.000037e+19,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,0,35,100084,79,2014-10-21 00:00:00,2014,10,21,0,0
3,3,1.000064e+19,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,0,35,100084,79,2014-10-21 00:00:00,2014,10,21,0,0
4,4,1.000068e+19,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,0,35,-1,157,2014-10-21 00:00:00,2014,10,21,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,499995,1.311196e+19,14102103,1005,0,85f751fd,c4e18dd6,50e219e0,53de0284,d9b5648e,...,3,299,100111,61,2014-10-21 03:00:00,2014,10,21,3,0
499996,499996,1.311197e+19,14102103,1005,1,d9750ee7,98572c79,f028772b,ecad2386,7801e8d9,...,2,1063,-1,33,2014-10-21 03:00:00,2014,10,21,3,0
499997,499997,1.311202e+19,14102103,1005,0,85f751fd,c4e18dd6,50e219e0,e2fcccd2,5c5a694b,...,3,39,-1,23,2014-10-21 03:00:00,2014,10,21,3,0
499998,499998,1.311205e+19,14102103,1005,1,5b4d2eda,16a36ef3,f028772b,ecad2386,7801e8d9,...,0,39,100077,157,2014-10-21 03:00:00,2014,10,21,3,0
499999,499999,1.311207e+18,14102103,1005,0,2328ee8e,7804dea6,f028772b,ecad2386,7801e8d9,...,2,39,-1,32,2014-10-21 03:00:00,2014,10,21,3,1

In [8]:
df=pd.DataFrame(df,columns=['Unnamed: 0', 'id', 'hour','site_id',
       'site_domain', 'site_category', 'app_id', 'app_domain', 'app_category', 'device_model', 'device_type',
       'device_conn_type','hours', 'banner_pos', 'C1', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'click'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        500000 non-null  int64
 1   id                500000 non-null  float64
 2   hour              500000 non-null  int64
 3   site_id           500000 non-null  object
 4   site_domain       500000 non-null  object
 5   site_category     500000 non-null  object
 6   app_id            500000 non-null  object
 7   app_domain        500000 non-null  object
 8   app_category      500000 non-null  object
 9   device_model      500000 non-null  object
 10  device_type       500000 non-null  int64
 11  device_conn_type  500000 non-null  int64
 12  hours             500000 non-null  int64
 13  banner_pos        500000 non-null  int64
 14  C1                500000 non-null  int64
 15  C15               500000 non-null  int64
 16  C16               500000 non-null  int64
 17  C17               500000 non-null  int64
 18  C18               500000 non-null  int64
 19  C19               500000 non-null  int64
 20  C20               500000 non-null  int64
 21  click             500000 non-null  int64
dtypes: float64(1), int64(14), object(7)
memory usage: 83.9+ MB

In [9]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [11]:
df.columns

Index(['Unnamed: 0', 'id', 'hour', 'site_id', 'site_domain', 'site_category',
       'app_id', 'app_domain', 'app_category', 'device_model', 'device_type',
       'device_conn_type', 'hours', 'banner_pos', 'C1', 'C15', 'C16', 'C17',
       'C18', 'C19', 'C20', 'click'],
      dtype='object')

In [12]:
x_train=pd.DataFrame(x_train,columns = ['Unnamed: 0', 'id', 'hour', 'site_id', 'site_domain', 'site_category',
       'app_id', 'app_domain', 'app_category', 'device_model', 'device_type',
       'device_conn_type', 'hours', 'banner_pos', 'C1', 'C15', 'C16',
       'C17', 'C18', 'C19', 'C20'])

In [13]:
x_test=pd.DataFrame(x_test,columns = ['Unnamed: 0', 'id', 'hour', 'site_id', 'site_domain', 'site_category',
       'app_id', 'app_domain', 'app_category', 'device_model', 'device_type',
       'device_conn_type', 'hours', 'banner_pos', 'C1', 'C15', 'C16',
       'C17', 'C18', 'C19', 'C20'])

In [14]:
y_train=pd.DataFrame(y_train,columns = ['click'])
y_test=pd.DataFrame(y_test,columns = ['click'])

In [15]:
x_train_dict = list(x_train.T.to_dict().values())
x_test_dict = list(x_test.T.to_dict().values())

In [16]:
from sklearn.feature_extraction import DictVectorizer

vectorizer = DictVectorizer(sparse=True)
x_train = vectorizer.fit_transform(x_train_dict)
x_test = vectorizer.transform(x_test_dict)

In [17]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state =0 )
classifier.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [18]:
y_pred = classifier.predict(x_test)

In [19]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.77223

**The following model has an accuracy of 77.23%**

In [20]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred,average='macro')

0.5771012435317603

In [21]:
from sklearn.metrics import fbeta_score
fbeta_score(y_test, y_pred,beta=0.5)

0.29315673289183225

In [22]:
from sklearn.metrics import log_loss  
# where y_pred are probabilities and y_true are binary class labels
log_loss(y_test, y_pred, eps=1e-15)

7.866985742839917

In [23]:
from sklearn.metrics import recall_score
recall_score(y_test, y_pred, average='macro')

0.5759808835356056

In [24]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, average='macro')

0.5783359904287304

In [25]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[72575, 11086],
       [11691,  4648]], dtype=int64)