In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r'C:\Users\RITODEEP\Downloads\dataset\train_.csv',encoding='latin-1')

In [3]:
df

,Unnamed: 0,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,0,1.000009e+18,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,2,15706,320,50,1722,0,35,-1,79
1,1,1.000017e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15704,320,50,1722,0,35,100084,79
2,2,1.000037e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15704,320,50,1722,0,35,100084,79
3,3,1.000064e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15706,320,50,1722,0,35,100084,79
4,4,1.000068e+19,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,...,1,0,18993,320,50,2161,0,35,-1,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,1.696492e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15708,320,50,1722,0,35,-1,79
49996,49996,1.696499e+19,0,14102100,1005,0,85f751fd,c4e18dd6,50e219e0,39947756,...,1,2,21611,320,50,2480,3,297,100111,61
49997,49997,1.696510e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1,0,15704,320,50,1722,0,35,100083,79
49998,49998,1.696553e+19,0,14102100,1005,0,85f751fd,c4e18dd6,50e219e0,53de0284,...,1,0,21611,320,50,2480,3,297,100111,61
49999,49999,1.696580e+18,0,14102100,1005,1,856e6d3f,58a89a43,f028772b,ecad2386,...,1,0,16208,320,50,1800,3,167,100075,23

In [4]:
print(df.isnull().sum())
df.isnull().sum().sum()

Unnamed: 0          0
id                  0
click               0
hour                0
C1                  0
banner_pos          0
site_id             0
site_domain         0
site_category       0
app_id              0
app_domain          0
app_category        0
device_id           0
device_ip           0
device_model        0
device_type         0
device_conn_type    0
C14                 0
C15                 0
C16                 0
C17                 0
C18                 0
C19                 0
C20                 0
C21                 0
dtype: int64

0

In [3]:
df["tstamp"] = pd.to_datetime(df["hour"], format="%y%m%d%H")
df["year"] = df["tstamp"].dt.year
df["month"] = df["tstamp"].dt.month
df["day"] = df["tstamp"].dt.day
df["hours"] = df["tstamp"].dt.hour
df

,Unnamed: 0,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,...,C17,C18,C19,C20,C21,tstamp,year,month,day,hours
0,0,1.000009e+18,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1722,0,35,-1,79,2014-10-21 00:00:00,2014,10,21,0
1,1,1.000017e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1722,0,35,100084,79,2014-10-21 00:00:00,2014,10,21,0
2,2,1.000037e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1722,0,35,100084,79,2014-10-21 00:00:00,2014,10,21,0
3,3,1.000064e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,1722,0,35,100084,79,2014-10-21 00:00:00,2014,10,21,0
4,4,1.000068e+19,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,...,2161,0,35,-1,157,2014-10-21 00:00:00,2014,10,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,499995,1.311196e+19,0,14102103,1005,0,85f751fd,c4e18dd6,50e219e0,53de0284,...,2480,3,299,100111,61,2014-10-21 03:00:00,2014,10,21,3
499996,499996,1.311197e+19,0,14102103,1005,1,d9750ee7,98572c79,f028772b,ecad2386,...,1993,2,1063,-1,33,2014-10-21 03:00:00,2014,10,21,3
499997,499997,1.311202e+19,0,14102103,1005,0,85f751fd,c4e18dd6,50e219e0,e2fcccd2,...,2374,3,39,-1,23,2014-10-21 03:00:00,2014,10,21,3
499998,499998,1.311205e+19,0,14102103,1005,1,5b4d2eda,16a36ef3,f028772b,ecad2386,...,2333,0,39,100077,157,2014-10-21 03:00:00,2014,10,21,3
499999,499999,1.311207e+18,1,14102103,1005,0,2328ee8e,7804dea6,f028772b,ecad2386,...,572,2,39,-1,32,2014-10-21 03:00:00,2014,10,21,3

In [4]:
a=df.pop('click')
df['click']=a

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50000 non-null  int64
 1   id                50000 non-null  float64
 2   hour              50000 non-null  int8
 3   site_id           50000 non-null  int16
 4   site_domain       50000 non-null  int16
 5   site_category     50000 non-null  int8
 6   app_id            50000 non-null  int16
 7   app_domain        50000 non-null  int8
 8   app_category      50000 non-null  int8
 9   device_model      50000 non-null  int16
 10  device_type       50000 non-null  int8
 11  device_conn_type  50000 non-null  int8
 12  hours             50000 non-null  int64
 13  banner_pos        50000 non-null  int64
 14  C1                50000 non-null  int64
 15  C15               50000 non-null  int64
 16  C16               50000 non-null  int64
 17  C17               50000 non-null  int64
 18  C18               50000 non-null  int64
 19  C19               50000 non-null  int64
 20  C20               50000 non-null  int64
 21  click             50000 non-null  int64
dtypes: float64(1), int16(4), int64(11), int8(6)
memory usage: 5.2 MB

In [5]:
df=pd.DataFrame(df,columns=['id', 'hour','site_id',
       'site_domain', 'site_category', 'app_id', 'app_domain', 'app_category', 'device_model', 'device_type',
       'device_conn_type','hours', 'banner_pos', 'C1','C14', 'C15', 'C16','C17', 'C18', 'C19', 'C20', 'click'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                500000 non-null  float64
 1   hour              500000 non-null  int64
 2   site_id           500000 non-null  object
 3   site_domain       500000 non-null  object
 4   site_category     500000 non-null  object
 5   app_id            500000 non-null  object
 6   app_domain        500000 non-null  object
 7   app_category      500000 non-null  object
 8   device_model      500000 non-null  object
 9   device_type       500000 non-null  int64
 10  device_conn_type  500000 non-null  int64
 11  hours             500000 non-null  int64
 12  banner_pos        500000 non-null  int64
 13  C1                500000 non-null  int64
 14  C14               500000 non-null  int64
 15  C15               500000 non-null  int64
 16  C16               500000 non-null  int64
 17  C17               500000 non-null  int64
 18  C18               500000 non-null  int64
 19  C19               500000 non-null  int64
 20  C20               500000 non-null  int64
 21  click             500000 non-null  int64
dtypes: float64(1), int64(14), object(7)
memory usage: 83.9+ MB

In [6]:
df.iloc[:,2:12]=df.iloc[:,2:12].astype('category')

In [7]:
for i in range(2,12):
    df.iloc[:,i]=df.iloc[:,i].cat.codes

In [10]:
df

,id,hour,site_id,site_domain,site_category,app_id,app_domain,app_category,device_model,device_type,...,banner_pos,C1,C14,C15,C16,C17,C18,C19,C20,click
0,1.000009e+18,14102100,81,569,2,535,19,0,567,1,...,0,1005,15706,320,50,1722,0,35,-1,0
1,1.000017e+19,14102100,81,569,2,535,19,0,899,1,...,0,1005,15704,320,50,1722,0,35,100084,0
2,1.000037e+19,14102100,81,569,2,535,19,0,1097,1,...,0,1005,15704,320,50,1722,0,35,100084,0
3,1.000064e+19,14102100,81,569,2,535,19,0,795,1,...,0,1005,15706,320,50,1722,0,35,100084,0
4,1.000068e+19,14102100,684,338,0,535,19,0,948,1,...,1,1005,18993,320,50,2161,0,35,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1.696492e+19,14102100,81,569,2,535,19,0,1090,1,...,0,1005,15708,320,50,1722,0,35,-1,0
49996,1.696499e+19,14102100,363,458,6,120,5,13,141,1,...,0,1005,21611,320,50,2480,3,297,100111,0
49997,1.696510e+19,14102100,81,569,2,535,19,0,1097,1,...,0,1005,15704,320,50,1722,0,35,100083,0
49998,1.696553e+19,14102100,363,458,6,193,35,2,377,1,...,0,1005,21611,320,50,2480,3,297,100111,0
49999,1.696580e+18,14102100,361,193,14,535,19,0,939,1,...,1,1005,16208,320,50,1800,3,167,100075,0

In [8]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5,metric = 'minkowski',p=2)
classifier.fit(x_train,y_train)

In [17]:
y_pred = classifier.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.8244

In [33]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred,average='macro')

0.5051705730012047

In [23]:
from sklearn.metrics import f1_score
y_t = [0, 1, 1, 0, 1, 1]
y_p = [0, 1, 1, 0, 1, 1]
f1_score(y_t, y_p)

1.0

In [22]:
from sklearn.metrics import fbeta_score
fbeta_score(y_test, y_pred,beta=0.5)

0.20833333333333337

In [36]:
from sklearn.metrics import log_loss  
# where y_pred are probabilities and y_true are binary class labels
log_loss(y_test, y_pred, eps=1e-15)

6.065016011484216

log loss - 6.0633

In [35]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[8138,   86],
       [1670,  106]], dtype=int64)

In [31]:
from sklearn.metrics import recall_score
recall_score(y_test, y_pred, average='macro')

0.5246137431205524

In [32]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, average='macro')

0.6909070826536161